/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ffc2e6;
    --accent-focus-color: #db00ff;
    --accent-text-color: #000028;
    --section-header-color: #353430;
    --text-color: #f1b2ce;
    --text-shadow: 4px 4px 0 var(--accent-color);
    --bg-image: url(../images/cover-image-dark.png);
  }

  .header__theme-menu-button {
    color: var(--section-header-color);
    outline-color: var(--section-header-color);
  }

  .decorated-zone::after {
    border-color: var(--section-header-color);
  }

  .decorated-zone::before {
    border-color: var(--section-header-color);
  }

  .section-header {
    color: var(--section-header-color);
  }

  .header__rec {
    display: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --accent-focus-color: #ffc2e6;
  --accent-text-color: #353430;
  --section-header-color: #353430;
  --text-shadow: 4px 4px 0 var(--accent-color);
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}
