/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* vars */

.accent-shadow-text {
  text-shadow: var(--text-shadow);
}

.section-header {
  color: var(--section-header-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.accent-bg {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.accent-text_bold {
  font-weight: 700;
}

.accent-text {
  color: var(--accent-color);
}

.section-content {
  display: grid;
  gap: 20px;
}

.content-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-title {
  font-size: 18px;
  font-weight: 700;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.how__list-title {
  font-weight: 400;
  font-size: 18px;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-color: #000028;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--main-font, monospace);
  font-size: var(--main-fz);
  color: var(--text-color);
  accent-color: var(--accent-color); /*  //акцентный цвет для чекбоксов итд */
}

/* header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 100vh;
  padding: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color);
  border-block-start: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__rec {
  position: absolute;
  inset-block-start: 11px;
  inset-inline-end: 40px;
  opacity: var(--opacity);
  transition: 0.5s ease-in;
}

.header__rec::after {
  content: "rec";
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  inset-inline-start: calc(100% + 9px);
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 8px;
  animation: flicker 1500ms linear infinite;
}

@keyframes flicker {
  50% {
    opacity: 0;
  }
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 0 14px;
  text-transform: lowercase;
  font-family: var(--main-font, sans-serif);
  color: var(--menu-color);
  font-weight: 400;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color);
}

.header__title {
  color: var(--accent-focus-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  max-inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
  justify-self: end;
}

/* main */

main {
  margin-block-start: 31px;
  padding: 10px;
  display: grid;
  gap: 50px;
}

/* why section */
/* what section */
/* how section */
/* pictures */

.pictures__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.pictures {
  gap: 10px;
}

.picture__list {
  display: grid;
  gap: 10px;
}

.picture__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/* footer */
.footer {
  position: relative;
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 40px;
}

.footer__text {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--accent-focus-color);
  font-weight: 700;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (768px <= width) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  main {
    margin-block-start: 40px;
    padding: 20px;
    display: grid;
    gap: 80px;
  }

  .why {
    grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 2fr;
  }

  .why__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how {
    grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 2fr;
  }

  .what__heading {
    max-inline-size: 236px;
  }

  .pictures {
    gap: 20px;
  }

  .picture__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px;
  }

  .picture:nth-of-type(1) {
    grid-area: sunset;
  }

  .picture:nth-of-type(2) {
    grid-area: ice-cream;
  }

  .picture:nth-of-type(3) {
    grid-area: tape;
  }

  .picture:nth-of-type(4) {
    grid-area: books;
  }

  .picture:nth-of-type(5) {
    grid-area: street;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .what__heading {
    max-width: 315px;
  }

  .what__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
