:root {
  --accent-color: #FF0070;
  --accent-focus-color: #DB00FF;
  --accent-text-color: #000028;
  --main-fz: 18px;
  --main-lh: 130%;
  --text-color: #F1B2CE;
  --header-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-fs-desctop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --text-shadow: 4px 4px 0 var(--accent-color);
  --main-font: 'IBM Plex mono';
  --bg-image: url(./images/cover-image-dark.png)
}

h3 {
  font-size: 18px;
}

p {
  line-height: 130%;
}

.page {
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-fz);
  color: var(--text-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.accent-shadow-text {
  text-shadow: var(--text-shadow);
}

.accent-bg {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.accent-text_bold {
  font-weight: 700;
}

.accent-text {
  color: var(--accent-color);
}

.section-header {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section-content {
  display: grid;
  gap: 20px;
}

.list-title {
  margin-block-end: 10px;
}

.list-text {
  margin-block-end: 20px;
}

.how__list-title {
  font-weight: 400;
}

img {
  width: 100%;
}